#result {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
  }
  
#center{
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    color: rgb(24, 166, 254);
  }
  